footer a:link {
    text-decoration: none !important;
}

header a {
    background-image: none !important;
}

p, h1, h2, h3 {
    -webkit-hyphens: manual !important;
    -moz-hyphens: manual !important;
    -ms-hyphens: manual !important;
    hyphens: manual !important;
}

@font-face {
    font-family: 'america';
    src: url('https://static1.squarespace.com/static/604a5cc8bb78f96c481a92e8/t/6181f708d5e2d234a743da2f/1635907336480/GT-America-Expanded-Black.otf');
}


.sqsrte-large,
.sqsrte-small, p {
    font-family: 'Inter', sans-serif;
}

/*PAGE HEADER*/

.header .header-display-desktop .header-nav .header-nav-wrapper nav.header-nav-list .header-nav-item.header-nav-item--collection {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.header .header-display-desktop .header-nav-wrapper .header-nav-item a {
    font-family: 'america', serif !important;
    font-size: inherit !important;
    font-weight: 400;
    letter-spacing: 0.1rem;
    word-break: keep-all;
    line-height: 1;
    padding: 0 !important;
    display: flex;
    margin: 0 !important;

}


.header-display-desktop .header-nav-item {
    font-family: arial, sans-serif;
    font-size: 2.3vw;
}

@media screen and (min-width: 1500px) {
    .header .header-display-desktop .header-nav-item {
        font-size: 33px !important;
    }

}

.sqs-block-button .sqs-block-button-element--medium {
    font-family: 'america', sans-serif;
    color: white;
    font-size: 12px;
    letter-spacing: 0.2em;
    line-height: 6px;
}


/*______ 2022 Redesign _____ */

.stay-in-line {
    white-space: nowrap;
}


/* Adding plus icon to header */
.header-nav .header-nav-wrapper nav.header-nav-list .header-nav-item.header-nav-item--collection {
    position: relative;
    font-family: 'america', sans-serif;
    display: flex;
    margin: 0;
}

.header-nav-item.header-nav-item--collection::after {
    content: "+";
    padding: 0 20px;
    font-size: 40px;
    font-family: arial, sans-serif;
    line-height: 38px;
    font-weight: bold;
    color: #000;
}

@media screen and (max-width: 1500px) {
    .header-nav-item.header-nav-item--collection::after {
        font-size: 34px;
    }
}


.nightMode .header-nav-item.header-nav-item--collection::after {
    color: #fff;
}

.header-nav-item.header-nav-item--collection:last-child::after {
    display: none;
}


.nightMode .words-hover a .words-hover-word::after,
.words-hover .words-hover-word.showHover::after {
    bottom: 8px;
}

.fillUpHoverLink:hover::after,
.nightMode .words-hover a .words-hover-word:hover::after,
.words-hover .words-hover-word.showHover:hover::after,
.header-nav-item.header-nav-item--collection a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*video logo*/
.header-title-logo {
    position: relative;
}

.header-mobile-logo img,
.header-title-logo img {
    visibility: hidden;
    transition:visibility 0.1s linear;
}

.header-mobile-logo video,
.header-title-logo video {
    height: 128px;
    width: 128px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
	transition:visibility 0.1s linear;
}

.header-mobile-logo video {
    width: 100px;
    height: 100px;
}

.header--menu-open .header-mobile-logo video {
    visibility: hidden;

}
.header--menu-open .header-mobile-logo img {
    visibility: visible;
}

/*hover background*/
#tail {
    position: absolute;
    display: none;
    z-index: 1;
}

/* aspect ratios*/
.vimeoVideo {
    position: relative;
    margin-bottom: 37px;
}

.vimeoVideo-block {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vimeoVideo.aspectRatio1x1 {
    padding: 100% 0 0 0;
}

.vimeoVideo.aspectRatio16x9 {
    padding: 56.25% 0 0 0;
}

.vimeoVideo.aspectRatio4x3 {
    padding: 75% 0 0 0
}

.vimeoVideo.aspectRatio4x5 {
    padding: 125% 0 0 0
}

.nightMode .header .header-title--use-mobile-logo .header-mobile-logo img {
    filter: invert();
}

.sqs-block-editable .generateVideo::before {
    content: attr(data-title);
    display: block;
    border: 1px solid #000;
    width: 100%;
}

.sqs-block-editable .generateVideo[data-aspectratio="aspectRatio1x1"]::before {
    padding: 100% 0 0 0;
}

.sqs-block-editable .generateVideo[data-aspectratio="aspectRatio16x9"]::before {
    padding: 56.25% 0 0 0;
}

.sqs-block-editable .generateVideo[data-aspectratio="aspectRatio4x3"]::before {
    padding: 75% 0 0 0
}

.sqs-block-editable .generateVideo[data-aspectratio="aspectRatio4x5"]::before {
    padding: 125% 0 0 0
}

.nightMode .sqs-block-editable .generateVideo::before {
    border-color: #fff;
}

/* featherlight modal modifications*/
@media only screen and (max-width: 1024px) {
    .featherlight .featherlight-content {
        margin-left: 0;
        margin-right: 0;
        max-height: 98%;
        padding: 30px 6% 0 !important;
        border-bottom: 30px solid transparent !important;
    }
}

.featherlight .featherlight-close-icon {
    color: #999 !important;
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
}

.featherlight *,
.featherlight.featherlight-iframe .featherlight-content,
.featherlight iframe.featherlight-inner {
    background: transparent !important;
}

/*SPIN animation*/
.hover-spin-child .spin-this {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    transform-origin: center center;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

.hover-spin-child:hover .spin-this {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);

}

/*  hover + icon */
a,
a.sqs-block-image-link,
.sqsrte-large.hover-spin-child,
.generateVideo a .vimeoVideo-block,
.generateVideo p,
h1.words-hover.big-bold-title a {
    cursor: url(https://static1.squarespace.com/static/604a5cc8bb78f96c481a92e8/t/621000aa427ff0093822e9e6/1645215914270/HAC-MouseCursor-Black-002.gif), pointer !important;
}

.nightMode a,
.nightMode a.sqs-block-image-link,
.nightMode .generateVideo a .vimeoVideo-block,
.nightMode .sqsrte-large.hover-spin-child,
.nightMode .generateVideo p,
.nightMode h1.words-hover.big-bold-title a {
    cursor: url(https://static1.squarespace.com/static/604a5cc8bb78f96c481a92e8/t/621000a3c479544a5e32d4e4/1645215907783/HAC-MouseCursor-White-002.gif), pointer !important;
}

.sqsrte-large.hover-spin-child,
.generateVideo p {
    display: inline-block;
    margin: 0;
}


.words-hover a:hover,
.words-hover .showHover:hover,
.header-nav-item a:hover,
.big-papa-bold-title a:hover,
.blog-single-column .blog-title a:hover {
    color: #404BB5 !important;
    text-decoration: none !important;
    position: relative;
}

a:hover svg.sqs-svg-icon--social .sqs-use--icon {
    fill: #404BB5 !important;
}


.sqs-block-html a {
    color: #404BB5 !important;
    text-decoration: none;
}


/* video loading animation */
.vimeoVideo {
    background: #f5f5f5;
    position: relative;
}

.nightMode .vimeoVideo {
    background: #0d0d0d;
}


.vimeoVideo iframe {
    position: relative;
    z-index: 2;
    transition: opacity 0.25s ease-out;
}

.vimeoVideo::after {
    transition: transform 0.25s ease-out;
    content: '';
    position: absolute;
    width: calc(100% - 4px);
    height: 10px;
    bottom: 2px;
    left: 2px;
    background-color: #404BB5;
    transform-origin: bottom left;
    animation: animatedImage 1s linear infinite;
    z-index: 1;
}

@keyframes animatedImage {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}


/* titles */


h1, h2, h3, h4,
.big-bold-title,
.med-bold-title,
.big-papa-bold-title,
.blog-single-column .blog-title,
.blog-item-wrapper .blog-item-title h1.entry-title {
    font-style: normal;
    font-family: america, sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 0;
    word-break: keep-all;
    /*word-wrap: break-word;*/
    /*overflow-wrap: break-word;*/
    /*-webkit-hyphens: auto;*/
    /*-moz-hyphens: auto;*/
    /*hyphens: auto;*/
}

.big-papa-bold-title,
.blog-single-column .blog-title,
.blog-item-wrapper .blog-item-title h1.entry-title {
    margin: 0 0 2rem 0;
}

.big-bold-title {
    margin: 0;
    font-size: 3.2rem;
}

.med-bold-title {
    margin: 0;
    font-size: 2.2rem;
}


.words-hover.big-bold-title {
    font-family: arial, sans-serif;
    font-weight: 600;
}

h1.words-hover.big-bold-title span,
h1.words-hover.big-bold-title a {
    font-family: america, sans-serif;
    font-size: inherit;
}

h1.words-hover.big-bold-title span {
    cursor: default;
}

.unbreakable {
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .big-papa-bold-title,
    .blog-single-column .blog-title,
    .blog-item-wrapper .blog-item-title h1.entry-title,
    .fit-text.hero-title,
    .words-hover.big-bold-title {
        font-size: 9vw;
    }

    .words-hover.big-bold-title {
        font-size: 6vw;
    }

}

@media screen and (max-width: 900px) and (min-width: 768px) {
    .big-papa-bold-title,
    .blog-single-column .blog-title,
    .blog-item-wrapper .blog-item-title h1.entry-title,
    .fit-text.hero-title,
    .words-hover.big-bold-title {
        font-size: 6vw;
    }

    .words-hover.big-bold-title {
        font-size: 5vw;
    }


}

@media screen and (max-width: 1200px) and (min-width: 901px) {
    .big-papa-bold-title,
    .blog-single-column .blog-title,
    .blog-item-wrapper .blog-item-title h1.entry-title,
    .fit-text.hero-title {
        font-size: 7vw;
    }

    .words-hover.big-bold-title {
        font-size: 4vw;
    }


}

@media screen and (min-width: 1201px) {
    .big-papa-bold-title,
    .blog-single-column .blog-title,
    .blog-item-wrapper .blog-item-title h1.entry-title,
    .fit-text.hero-title {
        font-size: 4.74vw;
    }

    .words-hover.big-bold-title {
        font-size: 2.7vw;
    }

}

@media screen and (min-width: 1600px) {
    .words-hover.big-bold-title {
        font-size: 2.8vw;
    }

}


/*menu mobile */
.container.header-menu-nav-item.header-menu-nav-item--collection {
    padding: 0 28px
}

.container.header-menu-nav-item.header-menu-nav-item--collection a {
    font-family: america, sans-serif;
    font-size: 9vw !important;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1;
    letter-spacing: 0.1rem;
    text-align: left;
    white-space: nowrap;
}

.container.header-menu-nav-item.header-menu-nav-item--collection:last-child {
    margin-bottom: 20%
}

/*blogs*/
.item-pagination {
    display: none;
}


/* Projects titles and intro*/

.titles-row, .titles-titles, .titles-description {
    cursor: default;    
} 

@media screen and (min-width: 768px) {
    .titles-row {
        display: flex;
    }

    .titles-titles {
        flex-grow: 0;
        flex-shrink: 0;
        width: 41.6667%;
    }

    .titles-description {
        padding: 0 17px 17px 17px;
    }
}

.titles-description p {
    line-height: 1.4em;
}

@media screen and (max-width: 991px) {
    .titles-description p {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) and (max-width: 2331px) {
    .titles-description p {
        font-size: 20px;
    }
}

@media screen and (min-width: 2332px) {
    .titles-description p {
        font-size: calc(1 * 1rem);
    }
}


.titles-description p .description-link {
    color: rgb(64, 75, 181) !important
}

.titles-description p:first-child {
    margin-bottom: 17px;

}


/* maybe fixing layout */
.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):not(.sqs-feature-gated-wrapper):first-child:last-child {
    padding-bottom: 17px !important;
}